:root {
    --mainColor: #f8735c;
}

body {
    background-image: url('../media/bg.jpg');
    background-size: cover;

    background-repeat: no-repeat;
    overflow-x: hidden;

}

.customnav li {
    list-style: none;
    margin-right: 30px;
}

header {
    background: #92929228;
}

.customnav li div a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);

}

.navList {
    margin-top: 10px;
}

.customnav li div .decoration {
    border: 2.4px solid #000000;
    margin-top: -12px;
    border-radius: 10px;
}

.customnav .btn-login {
    border-radius: 30px;
    background: var(--mainColor);
    color: white;
    font-weight: bold;
}

a {
    color: var(--mainColor)
}

.Card label {
    font-weight: bold;
}

.customnav .btn-singin {
    border-radius: 30px;
    border: 1px solid var(--mainColor);
    ;
    color: rgba(65, 65, 65, 0.387);
    font-weight: bold;
}

.navLogo {
    width: 150px;
    height: 78px;
    margin-top: -18px;
}

.search {
    background: rgb(237, 237, 237);
    border-right: 30px solid rgb(255, 200, 0);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.navList {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 780px) {
    .navList {
        display: none;
    }

    .decoration {
        display: none;
    }

    .navBtns {
        margin: 0;
    }
}

.search label {
    font-weight: bold;
}



.search .btn {
    border-radius: 15px;
    padding: 10px;
}

.Card {
    background: rgb(255, 255, 255);
    border-right: 30px solid var(--mainColor);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    animation: 0.2s ease-out 0s 1 slideInFromLeft;
}

.navBtns {
    margin-right: -18vh;
}

@media only screen and (max-width: 1300px) {


    .navBtns {
        margin-right: -1vh;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.btn-mainColor {
    background: var(--mainColor);
}

.form-control:focus {
    border-color: var(--mainColor);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.167), 1px 0 8px var(--mainColor);
}

.pageTitle {
    color: var(--mainColor);
    text-shadow: 0 0 3px var(--mainColor);
}

.Card input {
    padding: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
}

.busStop {
    background: #ebebeb;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 2px solid var(--mainColor);
}

.busStop .fromWhere {
    font-weight: bold;
}

.busStop .settlement {
    font-family: monospace;
}

.timeLine {
    display: flex;
    margin-top: 15px;
}

.timeLine .cyl {
    border: 10px solid var(--mainColor);
    padding: 2px;
    border-radius: 50%;
    z-index: 10;
}

.timeLine .cyl:nth-child(1) {
    margin-right: -10px;
}

.timeLine .cyl {
    margin-left: -10px;
}


.timeLine .line {
    border: 5px solid var(--mainColor);
    width: 30vh;
    height: 3px;
    margin-top: 7px;


}

.time {
    font-family: monospace;
    color: var(--mainColor);
    font-weight: bold;
}

p.info {
    border-left: thick solid gray;
    padding-left:1%;
}

.adminelement {
    margin: 10px;
}