<div class="customnav container">
    <div class="d-flex" style="padding-top: 25px;">
        <button class="d-block d-md-none btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
        <img src="../../media/logo.png" alt="Logo" class="navLogo d-none d-md-block">

        <ul class="container navList">
            <li class="CnavItem">
                <div class="">
                    <p>
                        <a href="/">Home</a>
                    </p>
                    <div class="decoration"></div>
                </div>
            </li>
            <li class="CnavItem">
                <div class="">
                    <p>
                        <a href="/contact">Kapcsolat</a>
                    </p>
                    <div class="decoration"></div>
                </div>
            </li>
            <li class="CnavItem">
                <div class="">
                    <p>
                        <a href="/gyik">GYIK</a>
                    </p>
                    <div class="decoration"></div>
                </div>
            </li>
            <li class="CnavItem">
                <div class="">
                    <p>
                        <a href="/taxi" style="color: #fbd603">TAXI</a>
                    </p>
                    <div class="decoration"></div>
                </div>
            </li>
        </ul>
        <ul class="navList navBtns">
            <li class="CnavItem">
                <div class="">
                    <p>
                        <button class="btn btn-login">Bejelentkezés</button>
                    </p>
                </div>
            </li>
            <li class="CnavItem">
                <div class="">
                    <p>
                        <button class="btn btn-singin">Regisztráció</button>
                    </p>
                </div>
            </li>
        </ul>

    </div>

</div>